<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "Ayru Jaipur" }) %>

        <!-- home CSS -->
        <link rel="stylesheet" href="/styles/home.css">

        <!-- slick CSS -->
        <link rel="stylesheet" type="text/css" href="/slick-1.8.1/slick/slick.css" />

        <link rel="stylesheet" type="text/css" href="/slick-1.8.1/slick/slick-theme.css" />


</head>

<body>


    <%- include('includes/header') %>


        <!-- Main -->
        <main class="container">

            <!-- Slider { Slick } -->
            <div class="your-class section">
                <% for(let carouselImage of homepageList.carousel) {%>
                    <div>
                        <img src="<%= carouselImage %>" alt="HandPrintLogo" class="slider-images img-fluid">
                    </div>
                    <% } %>
            </div>



            <div class="section info-section" id="aboutUs">

                <!-- description of ayru jaipur -->
                <div class="description-Section">
                    <div class="description-Section-heart-logo">
                        <img src="/images/Webpage_Logo.jpg" alt="Logo" srcset="" class="img-fluid">
                    </div>

                    <p class="description-text">
                        Let the "AYRU JAIPUR" Bedlinens is your partner for sleep and style of furnishing.
                        We use finest quality of cotton which ensure comfort, durability and easy care.
                        Our products were carefully selected to give you the best, well finished and perfect harmony of
                        rich color makes the product more beautiful.
                        Each piece comes with an authenticity of Handblock print designs made in Jaipur ,Rajasthan
                        ,India.
                    </p>
                </div>


                <!-- Best and Newest Products -->
                <div class="products_div row justify-content-evenly">
                    <!-- <div class="best_products products-sub-div col-md-5"
                        style="background-image: url('../images/freeShipping.jpg');">
                        <img src="../images/freeShipping.jpg" style="visibility: hidden;" class="img-fluid" />
                    </div>
                    <div class="new_products products-sub-div col-md-5"
                        style="background-image: url('../images/worldWideShipping.jpg');">
                        <img src="../images/worldWideShipping.jpg" style="visibility: hidden;" class="img-fluid" />
                    </div> -->
                    <img src="../images/freeShipping.jpg" class="img-fluid" style="max-width: 600px;" />
                </div>
            </div>


            <div class="view_all_products_div section">

                <h1 class="homeHeading">View All products</h1>
                <div class="products_div row justify-content-evenly">
                    <div class="best_products products-sub-div col-md-5"
                        style="background-image: url('<%=homepageList.bedsheet %>');">
                        <img src="<%=homepageList.bedsheet %>" style="visibility: hidden;" class="img-fluid" />
                        <a href="/collections/bedsheets" target="_self" rel="noopener noreferrer">
                            <div>
                                <button>
                                    Bedsheet
                                </button>
                            </div>
                        </a>
                    </div>
                    <div class="new_products products-sub-div col-md-5"
                        style="background-image: url('<%=homepageList.bedcover %>');">
                        <img src="<%=homepageList.bedcover %>" style="visibility: hidden;" class="img-fluid" />
                        <a href="/collections/bedcovers" target="_self" rel="noopener noreferrer">
                            <div>
                                <button>
                                    Bedcover
                                </button>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="products_div row justify-content-evenly">
                    <div class="best_products products-sub-div col-md-5"
                        style="background-image: url('<%=homepageList.quilt %>');">
                        <img src="<%=homepageList.quilt %>" style="visibility: hidden;" class="img-fluid" />
                        <a href="/collections/quilts" target="_self" rel="noopener noreferrer">
                            <div>
                                <button>
                                    Quilt
                                </button>
                            </div>
                        </a>
                    </div>
                    <div class="new_products products-sub-div col-md-5"
                        style="background-image: url('<%=homepageList.dohar %>');">
                        <img src="<%=homepageList.dohar %>" style="visibility: hidden;" class="img-fluid" />
                        <a href="/collections/dohars" target="_self" rel="noopener noreferrer">
                            <div>
                                <button>
                                    Dohar
                                </button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


            <!-- client love -->
            <div class="section" id="clientLove">

                <div class="row text-center">
                    <h1 class="homeHeading">
                        Client Love
                    </h1>
                </div>
                <div class="row">
                    <a href="/clientLove" target="_self" rel="noopener noreferrer" class="col-lg-4 col-md-6 col-12">
                        <img src="<%= homepageList.clientlove[0] %>" alt="" srcset="" class="clientLove_img img-fluid">
                    </a>
                    <a href="/clientLove" target="_self" rel="noopener noreferrer" class="col-lg-4 col-md-6 col-12">
                        <img src="<%= homepageList.clientlove[1] %>" alt="" srcset="" class="clientLove_img img-fluid">
                    </a>
                    <a href="/clientLove" target="_self" rel="noopener noreferrer" class="col-lg-4 clientLoveTohide">
                        <img src="<%= homepageList.clientlove[2] %>" alt="" srcset="" class="clientLove_img img-fluid">
                    </a>
                </div>
                <div class="row">
                    <div class="autoplayClientLoveSlick">
                        <% for(let clientreview of clientreviewList) {%>
                            <div class="clientLoveReviewBox">
                                <!-- <h2>Client Review</h2> -->
                                <p class="customer_review">
                                    <%= clientreview.review %>
                                </p>
                                <div class="ratingDiv">

                                    <% for(var i=0;i<parseInt(clientreview.rating);i++){ %>
                                        <li class="rated"></li>
                                        <% } %>
                                            <% for( i;i<parseInt('5');i++){ %>
                                                <li></li>
                                                <% } %>
                                </div>
                                <h4>
                                    <%= clientreview.clientName %>
                                </h4>
                            </div>
                            <% } %>

                    </div>
                </div>
            </div>

        </main>

        <%- include("includes/footer") %>

            <!-- scripts -->
            <script src="/scripts/home.js"></script>
            <script src="/slick-1.8.1/slick/slick.min.js"></script>
</body>

</html>