<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "Ayru Jaipur - Collections" }) %>

        <!-- item CSS -->
        <link rel="stylesheet" href="/styles/item.css">


</head>

<body>

    <%- include('includes/header') %>

        <main class="container">
            <div class="row">
                <div class="col-lg-6 p-lg-5">
                    <div class="row">
                        <div class="col-sm-10">
                            <img src="<%= itemData.url %>" alt="<%= itemData.name %>" class="itemImage">
                        </div>
                        <div class="col-sm-2 subImagesDiv">
                            <% for (let subImageURL of itemData.subImgsUrlList) { %>
                                <div class="subImageDiv">
                                    <img src="<%= subImageURL %>" alt="hello" class="subImage">
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 p-lg-5">
                    <h1 class="row itemName">
                        <%= itemData.name %>
                    </h1>
                    <p class="row itemPriceQuantity">
                        <span class="col-6" id="itemPrice">
                            <%= itemData.baseprice %>
                        </span>
                        <span class="col-6" id="itemquantity">
                            <%= itemData.quantity %> available
                        </span>
                    </p>

                    <p class="row itemStyle">
                    <div class="row">
                        STYLE
                    </div>
                    <div class="row">

                        <div class="col-3 size">
                            Size <br>(90*108 inch)
                        </div>

                    </div>

                    </p>
                    <div class="row waRedirectDiv">
                        <a href="" target="_blank" rel="noopener noreferrer" class="waLink"
                            data-itemname="<%= itemData.name %>">
                            Click To know about this product on
                            What's App
                        </a>
                    </div>
                </div>
            </div>

        </main>

        <%- include("includes/footer") %>

            <script src="/scripts/item.js"></script>
</body>

</html>