<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "Ayru Jaipur - Products" }) %>

        <!-- products CSS -->
        <link rel="stylesheet" href="/styles/products.css">


</head>

<body>

    <%- include('includes/header') %>

        <div class="container">
            <div class="row product_heading_section ">
                <div class="product_name">
                    <%= product %>
                </div>
                <div class="view_case_section">
                    <div class="js-btn-view btn-view-2" data-col="2">
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="js-btn-view btn-view-3" data-col="3">
                        <ul class="active">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="js-btn-view btn-view-4" data-col="4">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <% for (const key in list) { %>
                    <% if (list.hasOwnProperty.call(list, key)) { %>
                        <% const productItem=list[key]; %>
                            <% if(product=='Sale' ){ %>
                                <%- include('includes/sale-product-item.ejs', {productData:productItem,product:product}) %>
                                    <% } else{ %>
                                        <%-include('includes/product-item.ejs',{productData:productItem,product:product})%>
                                            <% } %>
                                                <% } %>
                                                    <% } %>

            </div>
        </div>

        <%- include("includes/footer") %>


            <script src="/scripts/products.js"></script>

</body>

</html>