<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "Ayru Jaipur - Collections" }) %>

        <!-- item CSS -->
        <link rel="stylesheet" href="/styles/bedsheet.css">


</head>

<body>

    <%- include('includes/header') %>

        <main class="container">
            <div class="row">
                <div class="col-lg-6 p-lg-5">
                    <div class="row">
                        <div class="col-sm-10">
                            <img src="<%= itemData.itemImgUrl %>" alt="<%= itemData.itemName %>" class="itemImage">
                        </div>
                        <div class="col-sm-2 subImagesDiv">
                            <% for (let subImageURL of itemData.subImgsUrlList) { %>
                                <div class="subImageDiv">
                                    <img src="<%= subImageURL %>" alt="hello" class="subImage">
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 p-lg-5">
                    <h1 class="row itemName">
                        <%= itemData.itemName %>
                    </h1>
                    <p class="row itemPriceQuantity">
                        <span class="col-6" id="itemPrice">
                            <span>
                                <%= itemData.single[2] %>
                            </span>
                            <del>
                                <%= itemData.single[0] %>
                            </del>
                        </span>
                        <span class="col-6" id="itemquantity">
                            <%= itemData.single[1] %> available
                        </span>
                    </p>

                    <p class="row itemStyle">
                    <div class="row">
                        STYLE
                    </div>
                    <div class="row">
                        <button class="col-3 me-2 active priceBtn" data-style="single"
                            data-originalprice="<%=itemData.single[0]%>" data-quantity="<%=itemData.single[1]%>"
                            data-discountprice="<%=itemData.single[2]%>">
                            Single <br>(60*90 inch)
                        </button>
                        <button class="col-3 me-2 priceBtn" data-style="queen"
                            data-originalprice="<%=itemData.queen[0]%>" data-quantity="<%=itemData.queen[1]%>"
                            data-discountprice="<%=itemData.queen[2]%>">
                            Queen <br> (90*108 inch)
                        </button>
                        <button class="col-3 me-2 priceBtn" data-style="king" data-originalprice="<%=itemData.king[0]%>"
                            data-quantity="<%=itemData.king[1]%>" data-discountprice="<%=itemData.king[2]%>">
                            King <br>(108*108 inch)
                        </button>

                    </div>

                    </p>
                </div>
            </div>

        </main>

        <%- include("includes/footer") %>

            <script src="/scripts/sale-bedsheet.js"></script>
</body>

</html>