<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "Ayru Jaipur - Collections" }) %>

        <!-- item CSS -->
        <link rel="stylesheet" href="/styles/item.css">


</head>

<body>

    <%- include('includes/header') %>

        <main class="container">
            <div class="row">
                <div class="col-lg-6 p-lg-5">
                    <img src="<%= itemData.itemImgUrl %>" alt="<%= itemData.itemName %>" class="itemImage">
                </div>
                <div class="col-lg-6 p-lg-5">
                    <h1 class="row itemName">
                        <%= itemData.itemName %>
                    </h1>
                    <p class="row itemPriceQuantity">
                        <span class="col-6" id="itemPrice">
                            <%= itemData.discountPrice %>
                                <del>
                                    <%= itemData.itemPrice %>
                                </del>
                        </span>
                        <span class="col-6" id="itemquantity">
                            <%= itemData.itemAvaibility %> available
                        </span>
                    </p>

                    <p class="row itemStyle">
                    <div class="row">
                        STYLE
                    </div>
                    <div class="row">

                        <div class="col-3 size">
                            Size <br>(90*108 inch)
                        </div>

                    </div>

                    </p>
                </div>
            </div>

        </main>

        <%- include("includes/footer") %>

            <script src="/scripts/item.js"></script>
</body>

</html>